<div class="product-card">
    <h3>{{ product.name }}</h3>
      <strong>{{ product.price }} Ft</strong>
    <p *ngIf="product.quantity > 0; else outOfStock">
        <strong>Készleten:</strong> {{ product.quantity }} db
    </p>
  
    <ng-template #outOfStock>
        <p class="out-of-stock">Elfogyott</p>
    </ng-template>
  
    <button 
        class="btn" 
        [disabled]="product.quantity === 0 || !currentUser" 
        (click)="onAddToCart()" 
        appHighlight
    >
        Kosárba
    </button>
</div>
