form, h2 {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Elemek közti távolság */
    max-width: 400px;
    margin: 0 auto; /* Középre igazítás */
    padding: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  button {
    align-self: center;
  }
  
  button a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 0;
  }
  
  /* Mobilnézet */
  @media (max-width: 600px) {
    form {
      padding: 8px;
      max-width: 90%;
    }
  }
  