<!--[formGroup]="form" (ngLogin)="onLogin()"-->
<form>
    
    <h2>Bejelentkezés</h2>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Írd be az emailed">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" placeholder="Írd be a jelszavad">
    </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
    <button mat-raised-button color="accent" routerLink="/register">Még nem vagy regisztrálva?</button>

</form>
