<form>
  <h2>Regisztráció</h2>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Írd be az emailed">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" placeholder="Írd be a jelszavad">
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Jelszó újra</mat-label>
    <input matInput type="passwordAgain" placeholder="Írd be újra a jelszavad">
  </mat-form-field>

  <button mat-raised-button color="primary">Regisztráció</button>
</form>
