:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  padding: 20px;
  position: relative;
}

.search-field {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
}

h1, h2 {
  text-align: center;
  color: #0277bd;
  margin: 10px 0;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  text-align: center;
  flex-shrink: 0;
}

mat-card img {
  height: 100px;
  object-fit: cover;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 5px;
}

@media (max-width: 955px) {
  .search-field {
    position: static;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }

  :host {
    padding: 10px;
  }

  mat-form-field, mat-card {
    max-width: 90%;
  }

  mat-card img {
    height: auto;
    max-height: 150px;
  }
}
